
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<header>
  <!-- Menu responsive -->
  <div class="menu_toggle">
    <span></span>
  </div>

  <!-- Logo de l'application -->
  <div class="logos">
    <h3><strong>Pic</strong>Pals</h3>
  </div>

  <!-- Menu de navigation -->
  <ul class="menu">
    <li><a href="/">Accueil</a></li>
    <li><a href="/photos">Photos</a></li>

  </ul>

  <!-- Bouton de connexion -->
  <div class="dropdown text-end">
    <% if(user){ %>
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/public/uploads/<%= user.avatar %>" alt="Photo de profil" width="32" height="32" class="rounded-circle">
      </a>
    <ul class="dropdown-menu text-small text-center" aria-labelledby="dropdownUser1">
      <li><div class="text-center text-danger">
          <img src="/public/uploads/<%= user.avatar %>" alt="Photo de profil" width="32" height="32" class="rounded-circle">
          <h4 class="username"><%= user.username %></h4>
        </div></li>
      <li>
        <form action="/logout" method="post"><button class="btn" type="submit">Déconnexion</button></form>
      </li>
      <% } else { %>
        <a class="btn" href="/login">Connexion</a>
      <% } %>
    </ul>
  </div>
</header>


